div#pointsCustomisation {

	z-index: 1000;
	position: fixed;
	float: right;
	left : 90%;
	width: 10%;
	background-color: white;
}


#pointsCustomisation {
	border-radius: 10px;
	background-color: none;
}



@media only screen and (max-width:950px) {

	div#pointsCustomisation {
		z-index: 0;
		position: relative;
		left : 0%;
		width: 100%;	
	}
}



img#imgEntete{
	padding-top: 1px;
	padding-bottom: 1px;
}


input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

